        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;700&display=swap');
         :root {
            --bg: #212121;
            --bg2: #3C3C3C;
            --primary: #F06;
            --base: #FFF;
        }
        
        * {
            margin: 0;
            padding: 0;
            color: var(--base);
        }
        
        body {
            background-color: var(--bg);
            font-family: 'Roboto', sans-serif;
        }
        
        header {
            display: flex;
            background-color: var(--bg2);
        }
        
        header h1 {
            color: var(--primary);
            font-family: 'Bebas Neue', sans-serif;
            font-size: 4rem;
            margin-left: 4rem;
            padding-top: 1rem;
        }
        
        header nav {
            display: flex;
            flex-grow: 1;
            padding-bottom: 1rem;
        }
        
        header ul {
            display: flex;
            flex-grow: 1;
            align-items: flex-end;
        }
        
        nav li:last-child {
            flex: 1;
            text-align: end;
        }
        /*novo*/
        
        nav .filme:last-child {
            flex: 1;
            text-align: end;
        }
        
        nav a:hover {
            color: var(--primary);
        }
        
        nav .ativo {
            font-size: 1.6rem;
            border-bottom: var(--primary) 3px solid;
            padding-bottom: .5rem;
        }
        
        li {
            list-style: none;
            margin: 0 2rem;
        }
        
        a {
            text-decoration: none;
        }
        
        .hero {
            position: relative;
            height: 25rem;
        }
        /* pseudo-elemento */
        
        .hero::before {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            background: url(../images/poster_viuva.jpg) center;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position-y: 15%;
            filter: opacity(.4);
            z-index: -1;
            box-shadow: inset 0px -50px 50px #212121;
        }
        /*modificado*/
        
        .hero p {
            width: 87%;
            padding: 3rem 0 3rem 3rem;
            text-shadow: .25rem .25rem .25rem rgba(54, 39, 39, 0.25);
            display: flex;
            flex-grow: 1;
            align-items: flex-start;
            margin-top: .5rem;
        }
        
        .raiva span {
            font-weight: normal;
            font-size: 1.5rem;
        }
        
        .hero b {
            font-size: 3rem;
        }
        
        main {
            margin: 0 4rem;
        }
        
        section h2 {
            font-size: 1.5rem;
            border-left: var(--primary) solid 5px;
            line-height: 20px;
            padding: .2rem;
            margin-bottom: 1rem;
        }
        /*novo*/
        
        .h2 {
            margin-top: 1rem;
        }
        
        section h3 {
            font-size: 1.5rem;
            border-left: var(--primary) solid 5px;
            line-height: 20px;
            padding: .2rem;
            margin-bottom: 1rem;
            margin-left: .5rem;
        }
        
        .lista-de-filmes {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        /*novo*/
        
        .Lista-ficha-tecnica {
            background-color: var(--bg2);
            padding: 8px;
            border-radius: 10px;
            width: 180px;
            text-align: left;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            flex-direction: column;
            /*align-items: center;*/
            margin: 8px;
            font-size: 19.2px;
        }
        
        .Lista-de-integrantes {
            text-align: center;
            display: flex;
            background-color: var(--bg2);
            padding: .5rem;
            border-radius: 35px;
            width: 25rem;
            justify-content: space-evenly;
            flex-wrap: wrap;
            flex-direction: column;
            /*align-items: center;*/
            margin: 8rem 0 0 45rem;
            font-size: 24px;
        }
        /*novo*/
        
        .material-icons {
            position: static;
            top: 90%;
        }
        
        .espaco-elenco {
            margin-top: 3rem;
        }
        
        .info {
            margin-left: 8px;
        }
        /*novo*/
        
        .dados {
            filter: opacity(.6);
            margin-left: 8px;
        }
        /*novo*/
        
        .Lista-ficha-tecnica .info {
            padding-top: 8px;
        }
        
        .filme {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: .5rem;
        }
        
        .filme * {
            margin: .3rem 0;
        }
        
        .titulo {
            font-size: 19px;
        }
        
        .hero .texto {
            font-size: 24px;
        }
        
        .caixa-nome {
            background-color: var(--bg2);
            padding: .5rem;
            border-radius: 6px;
            width: 10rem;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            margin: 8px;
        }
        
        .poster {
            width: 190px;
            border-radius: 5px;
        }
        
        .filme .poster {
            width: 130px;
        }
        
        .grupo-foto {
            position: relative;
            height: 100%;
            width: 100%;
            background: url(../images/.grupo-foto.jpg) center;
            background-size: 60%;
            background-position-y: 15%;
            z-index: -1;
        }
        /*novo*/
        
        .imagem {
            width: 11.875rem;
            border-radius: 5px;
            margin-right: 2rem;
        }
        
        .filme .valor-nota {
            filter: opacity(.6);
            line-height: 24px;
        }
        
        .nota span {
            font-size: 1rem;
            align-self: center;
            margin-left: .3rem;
        }
        
        .nota {
            display: flex;
            justify-content: flex;
        }
        
        .dourado {
            color: gold;
        }
        
        .botao {
            background-color: var(--primary);
            border-radius: 6px;
            width: 70%;
            padding: .5rem 2rem;
            transition: filter .2s ease-in-out;
            margin-right: 1rem;
        }
        
        .botao:hover {
            filter: drop-shadow(0px 0px 4px var(--primary)) drop-shadow(0px 0px 9px var(--primary));
        }
        
        .sobre-mensagem h2 {
            margin: 8rem 0 0 38.5rem;
            font-size: 2rem;
            border-left: var(--primary) solid 5px;
            line-height: 20px;
            padding: .2rem;
        }
        
        @media (max-width: 768px) {
            header {
                flex-direction: column;
            }
        }
        
        @media (max-width: 768px) {
            header nav {
                flex-direction: column;
            }
        }
        
        @media (max-width: 626px) {
            .hero {
                margin-bottom: 20rem;
            }
        }
        
        @media (max-width: 448px) {
            .hero {
                margin-bottom: 27rem;
            }
        }
        
        @media (max-width: 588px) {
            .hero p {
                padding: 1rem;
            }
        }
        
        @media (max-width: 1244px) {
            .sobre-mensagem h2 {
                margin: 8rem 2rem 2rem 2rem;
            }
        }
        
        @media (max-width: 1244px) {
            .Lista-de-integrantes {
                margin: 8rem 2rem 2rem 4rem;
            }
        }